{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='page'>
  {{! <header class='header'>
    <button class='button'>
      <img
        width='24'
        height='24'
        src='/svg/header__back.svg'
      />
    </button>
    <button class='button'>
      <img
        width='24'
        height='24'
        src='https://picsum.photos/100/100'
      />
    </button>
  </header> }}
  {{! 
  <h1 class='title'>Community</h1> }}

  {{! <div class='community__block'>
    <div class='tab'>
      <div class='tab__check'>
        <p class='tab__desc--1'>База знань</p>
        <div class='tab__divider--1'></div>
      </div>
      <div class='tab__check'>
        <p class='tab__desc--2'>Інформація</p>
        <div class='tab__divider--2'></div>
      </div>
    </div>
  </div> }}

  {{!-- <main class='post__list'>
    {{! <div class='img__info'>
      <img
        src='https://picsum.photos/100/100'
        class='img'
      />
    </div>
    <div class='desc__info'>
      <h1 class='info__title'>Що таке база знань?</h1>
      <p class='info__desc'>База знаний — база данных,
        содержащая правила вывода и информацию о
        человеческом опыте и знаниях в некоторой предметной
        области. В самообучающихся системах база знаний
        также содержит информацию, являющуюся результатом
        решения предыдущих задач.
      </p>
    </div> }}

    <button class='button__info'>
      Перейти до ком'юніті у Телеграм
    </button>

  </main> --}}
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}